In [228]:
# !pip install langchain langchain_community ollama

In [229]:
from langchain_community.llms import Ollama

In [230]:
llm = Ollama(model = "llama3",temperature=0)
#qwen2:latest

In [231]:
for chunk in llm.stream("Hi how are you?"):
    print(chunk, end = "")

I'm just an AI, so I don't have feelings or emotions like humans do. However, I'm functioning properly and ready to help with any questions or tasks you may have! It's great to chat with you. How can I assist you today?

In [232]:
from langchain_community.utilities import SQLDatabase

In [233]:
conn_str = "mssql+pyodbc://gg:ostia@minipc/iatest?driver=ODBC+Driver+17+for+SQL+Server"
#conn_str = "mssql+pyodbc://gg:ostia@minipc/MSPLITEPRO_v3gg?driver=ODBC+Driver+17+for+SQL+Server"

#conn_str = "mssql+pyodbc://gg:ostia@minipc/korta?driver=ODBC+Driver+17+for+SQL+Server"

q="Cual ha sido las ventas del año pasado a los clientes"
q="Cual ha sido las ventas por año  a los clientes. Muéstrame el resultado en Json"
q="Cuál ha sido el cliente al que más le he vendido"
q="Cuál ha sido el artículo que pasa vendido"
q="Para la empresa con codigo 1, que TIPOREG=CF en la tabla de T_ORDTER. Qué necesidades tengo de de compra para los artículos el 21 de diciembre del 2020"
q="Para la empresa con codigo 1,  Qué necesidades de compra de cantidad de artículos tengo el 21 de diciembre del 2020, Teniendo en cuenta los pedidos que estan en la tabla T_ORDTER con TIPOREG=CF y su stock que esta en la tabla T_STOCKS"
q="Para la empresa con codigo 1,  Qué necesidades de compra de cantidad de artículos tengo el 21 de diciembre del 2020, Teniendo en cuenta los pedidos que estan en la tabla T_ORDTER con TIPOREG=CF, su stock que esta en la tabla T_STOCKS y las ordenes de fabricacion que estan en T_ORDFAB y T_ORDFABM con TIPOREG=F" 
q="Cuántos Clientes hay?"
#q="Cuántas facturas hay"
#db = SQLDatabase.from_uri(conn_str) #("sqlite:///Chinook.db")
#def __init__(
 #       self,
 #       engine: Engine,
 #       schema: Optional[str] = None,
 #       metadata: Optional[MetaData] = None,
 #       ignore_tables: Optional[List[str]] = None,
 #       include_tables: Optional[List[str]] = None,
 #       sample_rows_in_table_info: int = 3,
 #       indexes_in_table_info: bool = False,
 #       custom_table_info: Optional[dict] = None,
 #       view_support: bool = False,
 #       max_string_length: int = 300,
 #       lazy_table_reflection: bool = False,
 #   ):
 #       metadata: Optional[MetaData] = None,
 #       ignore_tables: Optional[List[str]] = None,
 #       include_tables: Optional[List[str]] = None,
 #       sample_rows_in_table_info: int = 3,
 #       indexes_in_table_info: bool = False,
 #       custom_table_info: Optional[dict] = None,
 #       view_support: bool = False,
 #       max_string_length: int = 300,
 #       lazy_table_reflection: bool = False,

#tables=["T_FACTURAS","T_CLIENTES","T_EMPRESA"]
#db111 = SQLDatabase.from_uri(conn_str,include_tables=tables,sample_rows_in_table_info = 0 )
db = SQLDatabase.from_uri(conn_str,sample_rows_in_table_info = 2)

#db = SQLDatabase.from_uri("sqlite:///chinook.db", sample_rows_in_table_info = 3)

In [234]:
db.get_usable_table_names()

['TC_ARTCAR',
 'TC_ART_CAR',
 'TC_AVISOVTO_LOG',
 'TC_BARRAS_CFG',
 'TC_BONOS_OT',
 'TC_CFG_ARTCAR',
 'TC_CONFIG',
 'TC_CONTROL_CFG',
 'TC_CORTE_ARTI',
 'TC_CORTE_BARRA',
 'TC_CORTE_BARRA_HUSILLO',
 'TC_CORTE_HUSILLO',
 'TC_CORTE_OFS',
 'TC_CORTE_PLAN',
 'TC_CORTE_STK',
 'TC_EMBALAJE_CFG',
 'TC_FAMILIAS_CFG',
 'TC_K_BANCO_KORTA_CLI',
 'TC_K_CAMB_CARAC_ART',
 'TC_K_CODARANCELARIO',
 'TC_MB_ALBARANES',
 'TC_MB_ART_CAR',
 'TC_OF_CARC',
 'TC_OF_CARL',
 'TC_PED_OF_CFG',
 'TC_SOL_OFERTA',
 'TC_SP_PLANOS',
 'TC_SP_PLANOS_LOG',
 'TC_SP_PLANOS_NOM',
 'TC_VENCIMIENTOS_AVISO',
 'TF_ACCESOS',
 'TF_ACCIONES_VTOS',
 'TF_ACC_AREAS',
 'TF_APUNTES',
 'TF_AREA',
 'TF_ARQUEO',
 'TF_ASIENTOS_NOTAS',
 'TF_ASPATRON',
 'TF_ASPATRON_INMOV',
 'TF_ASPATRON_INMOVL',
 'TF_ASPATRON_TESO',
 'TF_ASPATRON_TESO_L',
 'TF_AUX_ENTIDADES_BAN',
 'TF_AUX_SUCUR_BAN',
 'TF_BALANCES',
 'TF_BANDEJA_CC_CAB',
 'TF_BANDEJA_CC_LIN',
 'TF_BANDEJA_LIQ_LIN',
 'TF_BANDEJA_VEN_CAB',
 'TF_BANDEJA_VEN_LIN',
 'TF_CAJA',
 'TF_CALCULOC',
 'TF_CALCULOL',
 'TF_CCOSTE_ITFC',
 'TF_CCOSTE_ITFL',
 'TF_CENTROS_COSTE',
 'TF_CLI_EST_EXPED',
 'TF_COMP_SEGUROS',
 'TF_CONCEP_CONTA',
 'TF_CONSOLIDACIONES',
 'TF_CONSOLIDACIONESL',
 'TF_CONTADOR',
 'TF_CUENTAS_GRUPOS',
 'TF_CUENTAS_GRUPOSL',
 'TF_C_BANCARIAS',
 'TF_DEFECTOS',
 'TF_DIARIO',
 'TF_DIRECTOR_TESO',
 'TF_EJERCICIO',
 'TF_EMPRESA',
 'TF_EMPRESAL',
 'TF_ENTIDADES_BAN',
 'TF_ESTIMACIONES',
 'TF_ESTRUPLAN',
 'TF_EST_RIESGO',
 'TF_FICFCCA',
 'TF_FICFCIV',
 'TF_FICFHIS',
 'TF_FICFLCA',
 'TF_FICFLIV',
 'TF_FORMULAS',
 'TF_FPAGO',
 'TF_GASTOS_BANCARIOS',
 'TF_GESTORES',
 'TF_GRIESGO',
 'TF_GRUPOS_AREAS',
 'TF_GRUPOS_BAN',
 'TF_GRUPOS_CCOSTE',
 'TF_GRUPO_USU',
 'TF_IVA_CRIT_CA',
 'TF_I_COEF',
 'TF_I_COEF_ACT',
 'TF_I_COEF_ACTL',
 'TF_I_FICHAS',
 'TF_I_FICHASL',
 'TF_I_REDONDEO',
 'TF_I_SISTEMAS',
 'TF_I_SISTEMASL',
 'TF_I_VECES_CALC',
 'TF_LANZA_CONTA',
 'TF_MOVICAJA',
 'TF_MOVIPROG',
 'TF_MOVI_CCOSTE',
 'TF_NATURAL',
 'TF_OPERAC',
 'TF_ORIGEN',
 'TF_PARAMETRIZ',
 'TF_PATRON_CCOSTE',
 'TF_PLAN',
 'TF_PLANTI_BANCOS',
 'TF_PRESUPUESTOS',
 'TF_PRESUPUESTOSL',
 'TF_REMESAS',
 'TF_REPARTOS',
 'TF_REPARTOS_CCOSTE',
 'TF_REPARTOS_ORIGEN',
 'TF_SII_LOG',
 'TF_SII_LOGL',
 'TF_SITUACIONES',
 'TF_SUCUR_BAN',
 'TF_TEXTOS',
 'TF_TIMBRES',
 'TF_TIPOS_REMESAS',
 'TF_USUARIOS',
 'TF_USUARIOSL',
 'TF_VENCIMIENTOS',
 'TF_VENCIMIENTOS_CONTA',
 'TF_VENCIMIENTOS_GASBAN',
 'TF_VENCIMIENTOS_MOV',
 'TF_VENCIMIENTOS_NOTAS',
 'TF_VTOS_CLASES',
 'TK_APUNTESC',
 'TK_APUNTESL',
 'TK_BALANCES',
 'TK_BALANCES_PARAM',
 'TK_EMP_AREAS',
 'TK_GRUPOS',
 'TK_GRUPOSL',
 'TK_GRUPOS_TRAMOS',
 'TK_HECHOS',
 'TK_JOBS',
 'TK_MASAS',
 'TK_MASASL',
 'TK_MEDIDAS',
 'TK_MOV_SIMULACIONES',
 'TK_PLAN',
 'TK_REPORTS',
 'TK_REPORTS_COLUMN',
 'TK_SIMULACIONES',
 'TK_X_excel',
 'TS_CULTURE',
 'TS_ENTIDAD',
 'TS_Ficheros',
 'TS_GRUPOS',
 'TS_GRUPOSL',
 'TS_GRUPO_USU',
 'TS_MENUCONFIG',
 'TS_NAVEGA_FORM',
 'TS_NAVEGA_FORML',
 'TS_PANTALLAS',
 'TS_RESIZE',
 'TS_RESIZEL',
 'TS_USUARIOS',
 'TS_USUARIOSL',
 'TS_USU_MAPEO',
 'TT_AVISOS',
 'TT_BASESDIV',
 'TT_CIAS_SEGUROS',
 'TT_CLIENTES',
 'TT_CLIENTES_DIR',
 'TT_CLIENTES_DIR_PF',
 'TT_CLIENTES_VAR',
 'TT_CMR',
 'TT_COMPLEMENTOS_FAC',
 'TT_CONCEP_GASTO',
 'TT_CONCEP_GASTO_HIS',
 'TT_CONDI_INCOTERM',
 'TT_CONDUCTORES_HIS',
 'TT_CONDUCTORES_MUL',
 'TT_CONDUCTORES_TRJ',
 'TT_CONTROL_PLAN',
 'TT_CONVENIOS',
 'TT_CORRESPONSALES',
 'TT_FACTURASV',
 'TT_FACTURASV_L',
 'TT_FORMAS_RECEP',
 'TT_GEN_CTAS_CORR',
 'TT_GEN_INCIDENCIAS',
 'TT_GEN_PERSONAS',
 'TT_GPS_APLICA',
 'TT_GPS_CONFIG_IE',
 'TT_GPS_CONFIG_IE_L',
 'TT_GPS_MSJ',
 'TT_GPS_MSJ_L',
 'TT_GPS_VALDEF',
 'TT_GPS_VALDEFL',
 'TT_GRUPOS_PAIS',
 'TT_GRUPOS_ZONAS',
 'TT_GRUP_ESCAN',
 'TT_GRUP_PLAN',
 'TT_GR_GES_DOCS',
 'TT_GR_MAQUINAS',
 'TT_GR_OBRAS',
 'TT_GR_PERMISOS',
 'TT_GR_PERMISOS_MOV',
 'TT_GR_SERVICIOS',
 'TT_GR_SERVICIOSL',
 'TT_GR_TIPOS_DOCS',
 'TT_GR_TIPOS_PERMISOS',
 'TT_HRUTA',
 'TT_HRUTA_L',
 'TT_IDIOMAS',
 'TT_INCIDENCIAS',
 'TT_INCOM_ADR',
 'TT_MANTENIMIENTOS',
 'TT_MEDIOS',
 'TT_MEDIOS_VAR',
 'TT_MERCANCIAS',
 'TT_MERCANCIAS_SIN',
 'TT_NOMINAS_VAR',
 'TT_OFERTAS',
 'TT_OFERTASL',
 'TT_OPERARIOS',
 'TT_OPERARIOS_DOM',
 'TT_OPERARIOS_VAC',
 'TT_OTROS_MEDIOS_CAM',
 'TT_PAISES',
 'TT_PARTESCAJA',
 'TT_PARTESCAJAL',
 'TT_PLATAFORMAS',
 'TT_PLATAFORMAS_ADR_ITV',
 'TT_PLATAFORMAS_ADR_SEG',
 'TT_PLATAFORMAS_ALQ',
 'TT_PLATAFORMAS_ANA',
 'TT_PLATAFORMAS_CAM',
 'TT_PLATAFORMAS_ECO',
 'TT_PLATAFORMAS_IMU',
 'TT_PLATAFORMAS_ITV',
 'TT_PLATAFORMAS_MAN',
 'TT_PLATAFORMAS_SEG',
 'TT_PLATAFORMAS_SIN',
 'TT_PLATAFORMAS_VAR',
 'TT_PROVINCIAS',
 'TT_PUNTOS',
 'TT_PUNTOS_VAC',
 'TT_RECORRIDOS',
 'TT_RENTA_CONFIG',
 'TT_RENTA_CONFIG_L',
 'TT_RENTA_COSTES_FIJOS',
 'TT_RENTA_COSTES_FIJOS_VAL',
 'TT_RENTA_GRUP_REP',
 'TT_RENTA_GRUP_VAR',
 'TT_RENTA_REP_CTAS',
 'TT_RENTA_TRACPLAT',
 'TT_RENTA_VARIABLES',
 'TT_RENTA_VIAJES',
 'TT_SECT_INDUSTRIAL',
 'TT_SISTEM_TRANS',
 'TT_SUBCONT_FAC',
 'TT_TARIFAS',
 'TT_TARIFAS_CD',
 'TT_TARIFAS_COM',
 'TT_TARIFAS_CONDU_C',
 'TT_TARIFAS_CONDU_L',
 'TT_TARIFAS_HIS',
 'TT_TARIFAS_OTM',
 'TT_TARIFAS_OTM_HIS',
 'TT_TARJETAS',
 'TT_TEXTOS',
 'TT_TIPOSADR',
 'TT_TIPOS_CONDU',
 'TT_TIPOS_INCIDENCIAS',
 'TT_TIPOS_OPERARIOS',
 'TT_TIPOS_PLATAFORMAS',
 'TT_TIPOS_SUSPEN',
 'TT_TIPOS_TARIF',
 'TT_TIPOS_TRACTORES',
 'TT_TIPOS_TRJ_TRANS',
 'TT_TMBONOS',
 'TT_TMBONOSL',
 'TT_TMCOSTES',
 'TT_TMCTRLFEC',
 'TT_TMGREPAR',
 'TT_TMPTALLER',
 'TT_TMTREPAR',
 'TT_TMVALES',
 'TT_TMVALESL',
 'TT_TM_BONOS',
 'TT_TM_BONOSL',
 'TT_TM_GAMAS',
 'TT_TM_GRUP_AVERIAS',
 'TT_TM_GRUP_LIST',
 'TT_TM_GRUP_MTOS_PER',
 'TT_TM_GRUP_OPERAC',
 'TT_TM_GRUP_REPARACION',
 'TT_TM_HIS_PREC',
 'TT_TM_MAN_PER',
 'TT_TM_OPERAC',
 'TT_TM_PARTES_AV',
 'TT_TM_TIPOS_REP',
 'TT_TM_VALES',
 'TT_TM_VALESL',
 'TT_TRACTORES',
 'TT_TRACTORES_ADR_ITV',
 'TT_TRACTORES_ADR_SEG',
 'TT_TRACTORES_ALQ',
 'TT_TRACTORES_CAM',
 'TT_TRACTORES_ECO',
 'TT_TRACTORES_IMU',
 'TT_TRACTORES_ITV',
 'TT_TRACTORES_MAN',
 'TT_TRACTORES_SEG',
 'TT_TRACTORES_SIN',
 'TT_TRACTORES_TAC',
 'TT_TRACTORES_TRJ',
 'TT_TRACTORES_VAR',
 'TT_TRACTORES_VEL',
 'TT_TRAMOS',
 'TT_TRAMOS_COS',
 'TT_TRANSITO',
 'TT_TRJ_FAMILIAS',
 'TT_UNIDADES',
 'TT_USU_BASES',
 'TT_VALDEF',
 'TT_VARIABLES_CLASES',
 'TT_VARIABLES_TEC',
 'TT_VENCIMIENTOS_GES',
 'TT_VIAJES',
 'TT_VIAJES_CD',
 'TT_VIAJES_COM',
 'TT_VIAJES_CPL',
 'TT_VIAJES_TEC',
 'TT_VIAJES_TRAMOS',
 'TT_ZONAS',
 'TT_ZONAS_TRF',
 'TW_AVISOS',
 'TW_CHARTS',
 'TW_CHARTSL',
 'TW_CMODULOS',
 'TW_ESTILOS',
 'TW_FAVORITOS',
 'TW_FORMULASB',
 'TW_FORMULASBL',
 'TW_INDICADORES',
 'TW_INDICADORESL',
 'TW_LOG',
 'TW_MODULOS',
 'TW_NAV_CAB',
 'TW_NAV_FUNCION',
 'TW_NAV_FUNCION_C',
 'TW_NAV_FUNCION_L',
 'TW_NAV_FUNCION_R',
 'TW_NAV_LINEAS',
 'TW_NAV_URL',
 'TW_NAV_URL_L',
 'TW_NOMBRES',
 'TW_NOTICIAS',
 'TW_SESIONES',
 'TW_URL',
 'TW_USUPREF',
 'TW_USUPREFL',
 'T_ACCESOSLISTADOS',
 'T_ACTIVIDADES',
 'T_AGENDA',
 'T_AGRUP',
 'T_ALBARAN',
 'T_ALBARANL',
 'T_ALBARAN_ERRORES',
 'T_ALMACEN',
 'T_ALMACEN_ACCESOS',
 'T_ALTERN',
 'T_ARTCAR',
 'T_ARTESCAN',
 'T_ARTICULOS',
 'T_ARTICULOSL',
 'T_ARTICULOS_CALC',
 'T_AVISOS',
 'T_Accesos',
 'T_BANCOS',
 'T_CALENDC',
 'T_CALENDD',
 'T_CALENDF',
 'T_CALEST',
 'T_CALRUT',
 'T_CANAL',
 'T_CARACT',
 'T_CARCAT',
 'T_CARGAS',
 'T_CATEGORIAS',
 'T_CLAHORA',
 'T_CLAMOV',
 'T_CLAVES',
 'T_CLIENTES',
 'T_CLIENTES_DELINS',
 'T_CODEST',
 'T_CONDENTREGA',
 'T_CONTADOR',
 'T_CONTROLBON',
 'T_COPIAS',
 'T_CRITERIOS_CARGAS',
 'T_CTERCEROS_BANCOS',
 'T_CTERCEROS_CLIE',
 'T_CTERCEROS_REPRES',
 'T_CTERCEROS_TRANS',
 'T_CTerceros_PROV',
 'T_CUENTAS',
 'T_DEFEST',
 'T_DEFRUT',
 'T_DELINS_CVS_CLIENTES',
 'T_DELINS_INBOX',
 'T_DELINS_ORDTERL_TMP',
 'T_DELINS_ORDTER_TEMP',
 'T_DELINS_TEMP',
 'T_DELINS_UNIDAD',
 'T_DESCUENTOS',
 'T_DIVISAS',
 'T_DIVISASL',
 'T_DIVISION',
 'T_DOCUM',
 'T_DOCUMENTACION',
 'T_DOCUMENTACIONL',
 'T_DOCUMENTOS',
 'T_DOCUML',
 'T_DOCUML_2',
 'T_EDI_ALBARANL',
 'T_EDI_APP_LOG',
 'T_EDI_ART_EMB',
 'T_EDI_CFG',
 'T_EDI_CLI',
 'T_EDI_CLI_MSG',
 'T_EDI_CLI_PTA',
 'T_EDI_CONFIG',
 'T_EDI_DAT_COMP',
 'T_EDI_DAT_COMP_L',
 'T_EDI_DAT_SIMP',
 'T_EDI_DAT_SIMP_VAL',
 'T_EDI_DELJIT',
 'T_EDI_INBOX',
 'T_EDI_MSG',
 'T_EDI_MSG_DET',
 'T_EDI_MSG_ERR',
 'T_EDI_MSG_LOG',
 'T_EDI_NORMA_EDIFACT',
 'T_EDI_ORDTERL',
 'T_EDI_SEG',
 'T_EDI_SEG_GRP',
 'T_EDI_SEG_GRP_ESTRUC',
 'T_EDI_SEG_GRP_FORM',
 'T_EDI_SEG_L',
 'T_EDI_UNIDAD',
 'T_EDR_ENLACE',
 'T_EDR_TDATOS',
 'T_EDR_TDATOS_ESTRUC',
 'T_ELEMENTOS_CONTA',
 'T_EMPRESA',
 'T_EMPRESAL',
 'T_EMPRESA_EVENTOS',
 'T_ENCURSO',
 'T_ENLACES',
 'T_EQUIPOS',
 'T_EQUIPOS_REC',
 'T_ESCAN',
 'T_ESTRUC',
 'T_ESTRUCL',
 'T_EXPEDICIONES',
 'T_Esp_Import_Export',
 'T_Esp_Import_ExportL',
 'T_FACTURAS',
 'T_FACTURASL',
 'T_FACTURAS_IVAS',
 'T_FAMILIAS',
 'T_FCONTROL',
 'T_FINANCIEROS',
 'T_FOGVS',
 'T_FORMATO',
 'T_FORMULAS',
 'T_FPAGO',
 'T_FPAGO_old',
 'T_GEN_INCIDENCIAS',
 'T_GEN_INCIDENCIASL',
 'T_GEN_PERSONAS',
 'T_GEOGRAFICOS',
 'T_GFHS',
 'T_GIP_CONFIG',
 'T_GIP_ENTORNO',
 'T_GIP_GARANTIAS',
 'T_GIP_GASTOS',
 'T_GIP_GASTOSL',
 'T_GIP_IMPORT_BONOS',
 'T_GIP_INTERVALOS',
 'T_GIP_PERSONAS',
 'T_GIP_PRESUPUESTOS',
 'T_GIP_PRESUPUESTOSL',
 'T_GIP_PRESU_OPEL',
 'T_GIP_PROCESO',
 'T_GIP_PROCESO_ACT',
 'T_GIP_PROCESO_PARTES',
 'T_GIP_PROC_GASTOS',
 'T_GIP_PRODUCTOS',
 'T_GIP_PUESTO_OPE',
 'T_GIP_TEMAS',
 'T_GIP_TIPOTRAB',
 'T_GRECURSOS',
 'T_GRUPCARACT',
 'T_GRUPHORA',
 'T_GRUPOC',
 'T_GRUPOP',
 'T_GRUPOS_FAC',
 'T_HDELINS',
 'T_HDELINS_TEMP',
 'T_HPRECIO',
 'T_IMPUESTOS',
 'T_IMPUTABLES',
 'T_IMPUTABLESL',
 'T_IMPUTACIONES',
 'T_INCIDENCIAS',
 'T_INTBON',
 'T_INVENTC',
 'T_INVENTD',
 'T_LOGOS',
 'T_MAQUINAS',
 'T_MENU_DEF',
 'T_MENU_GRUPO',
 'T_MENU_GRUPOL',
 'T_MOVIM',
 'T_MOVIPROG',
 'T_Mapeo_WSS',
 'T_NAV_NODE_DEF',
 'T_NAV_NODE_DOC',
 'T_NAV_NODE_KEY',
 'T_NAV_NODE_PARAM',
 'T_NAV_NODE_REL',
 'T_NAV_NODE_REL_L',
 'T_NAV_VISTA',
 'T_NAV_VISTA_L',
 'T_OFERTAS',
 'T_OFERTASL',
 'T_OGVS',
 'T_OPCIONES',
 'T_OPCIONESL',
 'T_OPERAC',
 'T_OPERAC_IVA',
 'T_OPERARIO',
 'T_OPERARIOS_PRECIOS',
 'T_ORDFAB',
 'T_ORDFABM',
 'T_ORDFABO',
 'T_ORDFABO_SUBCONTRATA',
 'T_ORDTER',
 'T_ORDTERL',
 'T_PAISES',
 'T_PARAMETROS',
 'T_PARCAB',
 'T_PARDET',
 'T_PAUTAS',
 'T_PLANIFICA',
 'T_PLANIFICAL',
 'T_PLSTOCK',
 'T_PORTES',
 'T_PREPARACIONES_sc',
 'T_PROBETAS',
 'T_PROBETASL',
 'T_PROB_CONF',
 'T_PROV',
 'T_PROVINCIAS',
 'T_PROYECTOS',
 'T_PROYECTOS_CLASES',
 'T_PROYECTOS_P',
 'T_PROYECTOS_SUBCLASES',
 'T_PROYECTOS_T',
 'T_PROYECTOS_TIPOS',
 'T_PROYECTOS_T_PRED',
 'T_PROYECTOS_T_REC',
 'T_PROY_CARACT',
 'T_PROY_CARACTERISTICAS',
 'T_PROY_GIP_GASTOS',
 'T_PROY_GIP_GASTOSL',
 'T_PROY_GIP_IMPORT_BONOS',
 'T_PROY_GIP_INTERVALOS',
 'T_PROY_GIP_PERSONAS',
 'T_PROY_GIP_PROCESO',
 'T_PROY_GIP_PROCESO_ACT',
 'T_PROY_GIP_PROCESO_PARTES',
 'T_PROY_GIP_PROC_GASTOS',
 'T_PROY_GIP_TEMAS',
 'T_PROY_PARCAB',
 'T_PROY_PARDET',
 'T_PROY_SEGUIMIENTO',
 'T_PROY_SEGUIMIENTOL',
 'T_PROY_VALCAR',
 'T_PUESTOS',
 'T_RCARACT',
 'T_RECURSOS',
 'T_RENDIMC',
 'T_RENDIMP',
 'T_REPRES',
 'T_RESPRO',
 'T_RETENCION',
 'T_RPUESTOS',
 'T_RS_IDIOMAS',
 'T_RS_PARAMETERS',
 'T_RUTAS',
 'T_RUTAS_CABECERA',
 'T_SECCION',
 'T_SIDCLAVESPER',
 'T_SIDCLAVESPERL',
 'T_SIDCONCEN',
 'T_SIDCONCENL',
 'T_SIDFOGVS',
 'T_SIDGCONCEN',
 'T_SIDGPCAB',
 'T_SIDGPINTERCON',
 'T_SIDGPINTERUOS',
 'T_SIDGPLIN',
 'T_SIDGPREPCONC',
 'T_SIDGPREPCONL',
 'T_SIDNIVELES',
 'T_SIDOGVS',
 'T_SIDPERIODOS',
 'T_SIDPLVENTAS',
 'T_SIDPLVENTASL',
 'T_SIDPVENTAS',
 'T_SIDPVENTASDESC',
 'T_SIDPVENTASOGVSC',
 'T_SIDPVENTASOGVSL',
 'T_SIDPVENTASPER',
 'T_SIDREPARTOS',
 'T_SOLCOMPRA',
 'T_SOLCOMPRA_EJEC',
 'T_SOLCOMPRA_PREV',
 'T_SOLVIAJE',
 'T_SOLVIAJE_EJEC',
 'T_SOLVIAJE_PREV',
 'T_STOCKS',
 'T_SUBCANAL',
 'T_SUBFORMS',
 'T_Sitios',
 'T_TABCONT',
 'T_TABLAS',
 'T_TABLASVERSION',
 'T_TABLAS_CONFIG',
 'T_TABLAS_REL',
 'T_TAREAS',
 'T_TARIFASH_CLI',
 'T_TARIFASH_PROV',
 'T_TARIFASLH_CLI',
 'T_TARIFASLH_PROV',
 'T_TARIFASL_CLI',
 'T_TARIFASL_CLI_DTO',
 'T_TARIFASL_PROV',
 'T_TARIFAS_CLI',
 'T_TARIFAS_CLI_DTO',
 'T_TARIFAS_CLI_DTO_CFG',
 'T_TARIFAS_PROV',
 'T_TBAI_FACTURAS',
 'T_TBAI_LOG',
 'T_TBAI_LOGL',
 'T_TDOCUMENTACION',
 'T_TERCERO_PESOS',
 'T_TIPOS_INCIDENCIAS',
 'T_TIPOS_TARIFAS',
 'T_TMP_FACT',
 'T_TPARTE',
 'T_TRADUCCION',
 'T_TRANSP',
 'T_TipoDatos',
 'T_UNIDAD',
 'T_UNIDADL',
 'T_VALCAR',
 'T_VENCIMIENTOS_GES',
 'T_WF_ACCIONES',
 'T_WF_APROBACIONES',
 'T_WF_APROBACIONES_L',
 'T_WF_DOCUMENTOS',
 'T_WF_DOCUMENTOS_FASES',
 'T_WF_DOCUMENTOS_TIPOS',
 'T_WF_ESTADOS',
 'T_WF_FASES',
 'T_WF_FASESWF',
 'T_WF_WORKFLOW',
 'ZZZZ',
 'dtproperties']

In [235]:
print(db.table_info)

CREATE TABLE [TC_ARTCAR] (
	[CODEMP] VARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CODIGO] VARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[C001] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C004] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C102] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C003] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C009] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C007] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C201] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C207] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CA02] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C204] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C106] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FECHAC] DATETIME NULL DEFAULT
/****** Object:  Default dbo.T_ARTCAR_FECHAC_D    Script Date: 4/11/99 4:54:17 PM ******/

/****** Object:  Default dbo.T_ARTCAR_FECHAC_D    Script Date: 1/26/99 4:05:50 PM ******/
/****** Object:  Default dbo.T_ARTCAR_FECHAC_D    Script Date: 10/2/98 12:26:28 PM ******/
/****** Object:  Default dbo.T_ARTCAR_FECHAC_D    Script Date: 5/28/97 7:35:07 PM ******/
/****** Object:  Default dbo.T_ARTCAR_FECHAC_D    Script Date: 5/27/97 4:54:00 PM ******/
CREATE DEFAULT dbo.T_ARTCAR_FECHAC_D AS convert(datetime,convert(varchar,getdate(),1))




,
	[FECHAM] DATETIME NULL,
	[USUCRE] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[USUMOD] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DIVISION] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STWF] INTEGER NULL DEFAULT ((0)),
	CONSTRAINT [PK_TC_ARTCAR] PRIMARY KEY ([CODEMP], [CODIGO])
)

/*
2 rows from TC_ARTCAR table:
CODEMP	CODIGO	C001	C004	C102	C003	C009	C007	C201	C207	CA02	C204	C106	FECHAC	FECHAM	USUCRE	USUMOD	DIVISION	STWF

*/


CREATE TABLE [TC_ART_CAR] (
	[CODEMP] VARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CODIGO] VARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CAR001] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR002] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR003] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR004] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR005] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR006] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR007] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR008] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR009] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR010] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR011] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR012] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR013] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR014] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR015] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR016] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR017] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR018] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR019] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR020] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR021] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR022] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR023] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR024] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR025] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR026] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR027] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR028] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR029] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CAR030] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FECHAC] DATETIME NULL DEFAULT
/****** Object:  Default dbo.T_AGRUP_FECHAC_D    Script Date: 4/11/99 4:54:16 PM ******/

/****** Object:  Default dbo.T_AGRUP_FECHAC_D    Script Date: 1/26/99 4:05:49 PM ******/
/****** Object:  Default dbo.T_AGRUP_FECHAC_D    Script Date: 10/2/98 12:26:27 PM ******/
/****** Object:  Default dbo.T_AGRUP_FECHAC_D    Script Date: 25/05/98 14:17:13 ******/
CREATE DEFAULT dbo.T_AGRUP_FECHAC_D AS convert(datetime,convert(varchar,getdate(),1))



,
	[FECHAM] DATETIME NULL,
	[USUCRE] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[USUMOD] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	upsize_ts TIMESTAMP NULL,
	[STWF] INTEGER NULL DEFAULT ((0)),
	CONSTRAINT [PK_TC_ART_CAR] PRIMARY KEY ([CODEMP], [CODIGO])
)

/*
2 rows from TC_ART_CAR table:
CODEMP	CODIGO	CAR001	CAR002	CAR003	CAR004	CAR005	CAR006	CAR007	CAR008	CAR009	CAR010	CAR011	CAR012	CAR013	CAR014	CAR015	CAR016	CAR017	CAR018	CAR019	CAR020	CAR021	CAR022	CAR023	CAR024	CAR025	CAR026	CAR027	CAR028	CAR029	CAR030	FECHAC	FECHAM	USUCRE	USUMOD	upsize_ts	STWF
1	00023	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	2016-11-29 00:00:00	None	None	None	b'\x00\x00\x00\x00\x12\xa4\xab?'	0
1	00028	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	None	2016-11-29 00:00:00	None	None	None	b'\x00\x00\x00\x00\x12\xa5\x1d\x05'	0
*/


CREATE TABLE [TC_AVISOVTO_LOG] (
	[CODEMP] VARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CodLog] NUMERIC(24, 0) NOT NULL IDENTITY(1,1),
	[Tipo] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Fecha] DATETIME NULL,
	[Denominacion] VARCHAR(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Accion] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TipoNotifica] VARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FECHAC] DATETIME NULL DEFAULT
/****** Object:  Default dbo.T_UNIDAD_FECHAC_D    Script Date: 4/11/99 4:54:45 PM ******/

/****** Object:  Default dbo.T_UNIDAD_FECHAC_D    Script Date: 1/26/99 4:06:16 PM ******/
/****** Object:  Default dbo.T_UNIDAD_FECHAC_D    Script Date: 10/2/98 12:26:47 PM ******/
/****** Object:  Default dbo.T_UNIDAD_FECHAC_D    Script Date: 5/28/97 7:35:24 PM ******/
/****** Object:  Default dbo.T_UNIDAD_FECHAC_D    Script Date: 5/27/97 4:54:17 PM ******/
CREATE DEFAULT dbo.T_UNIDAD_FECHAC_D AS convert(datetime,convert(varchar,getdate(),1))




,
	[FECHAM] DATETIME NULL,
	[USUCRE] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[USUMOD] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DIVISION] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STWF] INTEGER NULL DEFAULT (0),
	CONSTRAINT [PK_TC_LOG] PRIMARY KEY ([CODEMP], [CodLog])
)

/*
2 rows from TC_AVISOVTO_LOG table:
CODEMP	CodLog	Tipo	Fecha	Denominacion	Accion	TipoNotifica	FECHAC	FECHAM	USUCRE	USUMOD	DIVISION	STWF

*/


CREATE TABLE [TC_BARRAS_CFG] (
	[CODEMP] VARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CARACT1] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT2] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT3] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT4] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CODPROV] VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CODIGO] VARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OPERAC] VARCHAR(6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DIFDIAM] SMALLINT NULL DEFAULT
/****** Object:  Default dbo.UW_ZeroDefault    Script Date: 4/11/99 4:54:45 PM ******/

/****** Object:  Default dbo.UW_ZeroDefault    Script Date: 1/26/99 4:06:16 PM ******/
/****** Object:  Default dbo.UW_ZeroDefault    Script Date: 10/2/98 12:26:47 PM ******/
/****** Object:  Default dbo.UW_ZeroDefault    Script Date: 5/28/97 7:35:24 PM ******/
/****** Object:  Default dbo.UW_ZeroDefault    Script Date: 5/27/97 4:54:17 PM ******/
CREATE DEFAULT dbo.UW_ZeroDefault AS 0




,
	[DIFPIEZ] SMALLINT NULL DEFAULT
/****** Object:  Default dbo.UW_ZeroDefault    Script Date: 4/11/99 4:54:45 PM ******/

/****** Object:  Default dbo.UW_ZeroDefault    Script Date: 1/26/99 4:06:16 PM ******/
/****** Object:  Default dbo.UW_ZeroDefault    Script Date: 10/2/98 12:26:47 PM ******/
/****** Object:  Default dbo.UW_ZeroDefault    Script Date: 5/28/97 7:35:24 PM ******/
/****** Object:  Default dbo.UW_ZeroDefault    Script Date: 5/27/97 4:54:17 PM ******/
CREATE DEFAULT dbo.UW_ZeroDefault AS 0




,
	[FECHAC] DATETIME NULL,
	[FECHAM] DATETIME NULL,
	[USUCRE] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[USUMOD] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_TC_BARRAS_CFG] PRIMARY KEY ([CODEMP])
)

/*
2 rows from TC_BARRAS_CFG table:
CODEMP	CARACT1	CARACT2	CARACT3	CARACT4	CODPROV	CODIGO	OPERAC	DIFDIAM	DIFPIEZ	FECHAC	FECHAM	USUCRE	USUMOD
1	X18	X38	X19	X39	1531	C-M1000	002	5	1000	2001-11-14 00:00:00	2023-02-06 00:00:00	juancar	malkorta
*/


CREATE TABLE [TC_BONOS_OT] (
	[ID] INTEGER NOT NULL IDENTITY(1,1),
	[CODEMP] VARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TIPOREG] VARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NUMPED] INTEGER NULL,
	[LINEA] SMALLINT NULL,
	[CODOPE] SMALLINT NULL,
	[USUARIO] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FECHAD] DATETIME NULL,
	[HORAI] DATETIME NULL,
	[FECHAH] DATETIME NULL,
	[HORAH] DATETIME NULL,
	[UOS] FLOAT(53) NULL,
	[NUMPAR] INTEGER NULL,
	[FLAG] VARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PROCESADO] VARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDFAB] INTEGER NULL,
	[USUCRE] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[USUMOD] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	upsize_ts TIMESTAMP NULL,
	[STWF] INTEGER NULL DEFAULT ((0)),
	[FECHAC] DATETIME NULL,
	[FECHAM] DATETIME NULL,
	[ESTADO] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_TC_BONOS_OT1] PRIMARY KEY ([ID])
)

/*
2 rows from TC_BONOS_OT table:
ID	CODEMP	TIPOREG	NUMPED	LINEA	CODOPE	USUARIO	FECHAD	HORAI	FECHAH	HORAH	UOS	NUMPAR	FLAG	PROCESADO	ORDFAB	USUCRE	USUMOD	upsize_ts	STWF	FECHAC	FECHAM	ESTADO
17	1	CF	83505	1	32	alberto	2015-01-08 00:00:00	1899-12-30 15:54:00	2015-01-08 00:00:00	1899-12-30 15:55:00	0.02	1278479	1	1	78542	alberto	alberto	b'\x00\x00\x00\x00\x10\xb3\xd1\xed'	0	2015-01-08 15:54:13	2015-01-08 15:55:42	T
18	1	CF	83505	1	32	alberto	2015-01-08 00:00:00	1899-12-30 15:55:00	2015-01-08 00:00:00	1899-12-30 15:57:00	0.03	1278480	1	1	78542	alberto	alberto	b'\x00\x00\x00\x00\x10\xb3\xd1\xff'	0	2015-01-08 15:55:42	2015-01-08 15:57:18	T
*/


CREATE TABLE [TC_CFG_ARTCAR] (
	[CODEMP] VARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NUM] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CARACT] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_TC_CFG_ARTCAR] PRIMARY KEY ([CODEMP], [NUM])
)

/*
2 rows from TC_CFG_ARTCAR table:
CODEMP	NUM	CARACT
1	001	001
1	002	003
*/


CREATE TABLE [TC_CONFIG] (
	[CODEMP] NVARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CODCFG] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ITEM] INTEGER NOT NULL,
	[DENOMICFG] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DENOMIITEM] NVARCHAR(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDEN] INTEGER NULL,
	[C1] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C2] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C3] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C4] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C5] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C6] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C7] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C8] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C9] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[C0] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[N1] INTEGER NULL DEFAULT ((0)),
	[N2] INTEGER NULL DEFAULT ((0)),
	[N3] INTEGER NULL DEFAULT ((0)),
	[N4] INTEGER NULL DEFAULT ((0)),
	[N5] INTEGER NULL DEFAULT ((0)),
	[N6] INTEGER NULL DEFAULT ((0)),
	[N7] INTEGER NULL DEFAULT ((0)),
	[N8] INTEGER NULL DEFAULT ((0)),
	[N9] INTEGER NULL DEFAULT ((0)),
	[N0] INTEGER NULL DEFAULT ((0)),
	[D1] FLOAT(53) NULL DEFAULT ((0)),
	[D2] FLOAT(53) NULL DEFAULT ((0)),
	[D3] FLOAT(53) NULL DEFAULT ((0)),
	[D4] FLOAT(53) NULL DEFAULT ((0)),
	[D5] FLOAT(53) NULL DEFAULT ((0)),
	[F1] DATETIME NULL,
	[F2] DATETIME NULL,
	[F3] DATETIME NULL,
	[F4] DATETIME NULL,
	[F5] DATETIME NULL,
	[DEFECTO] INTEGER NULL DEFAULT ((0)),
	[FECHAC] DATETIME NULL,
	[FECHAM] DATETIME NULL,
	[USUCRE] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[USUMOD] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DIVISION] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STWF] INTEGER NULL DEFAULT ((0)),
	upsize_ts TIMESTAMP NULL,
	CONSTRAINT [PK_TC_CONFIG] PRIMARY KEY ([CODEMP], [CODCFG], [ITEM])
)

/*
2 rows from TC_CONFIG table:
CODEMP	CODCFG	ITEM	DENOMICFG	DENOMIITEM	ORDEN	C1	C2	C3	C4	C5	C6	C7	C8	C9	C0	N1	N2	N3	N4	N5	N6	N7	N8	N9	N0	D1	D2	D3	D4	D5	F1	F2	F3	F4	F5	DEFECTO	FECHAC	FECHAM	USUCRE	USUMOD	DIVISION	STWF	upsize_ts

*/


CREATE TABLE [TC_CONTROL_CFG] (
	[CODEMP] VARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CATEGO] VARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CARACT0] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT1] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT2] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT3] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT4] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT5] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT6] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT7] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT8] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT9] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMIN0] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMIN1] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMIN2] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMIN3] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMIN4] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMIN5] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMIN6] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMIN7] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMIN8] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMIN9] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMAX0] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMAX1] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMAX2] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMAX3] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMAX4] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMAX5] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMAX6] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMAX7] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMAX8] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VALMAX9] VARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FECHAC] DATETIME NULL,
	[FECHAM] DATETIME NULL,
	[USUCRE] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[USUMOD] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_TC_CONTROL_CFG] PRIMARY KEY ([CODEMP], [CATEGO])
)

/*
2 rows from TC_CONTROL_CFG table:
CODEMP	CATEGO	CARACT0	CARACT1	CARACT2	CARACT3	CARACT4	CARACT5	CARACT6	CARACT7	CARACT8	CARACT9	VALMIN0	VALMIN1	VALMIN2	VALMIN3	VALMIN4	VALMIN5	VALMIN6	VALMIN7	VALMIN8	VALMIN9	VALMAX0	VALMAX1	VALMAX2	VALMAX3	VALMAX4	VALMAX5	VALMAX6	VALMAX7	VALMAX8	VALMAX9	FECHAC	FECHAM	USUCRE	USUMOD
1	1	C18	C20	C22	C24	C37	C38	C27	012	012	None	None	None	None	None	None	None	None	VARILLAS	VARILLAS	None	None	None	None	None	None	None	None	HUSILLO	TUERCA	None	2001-11-14 00:00:00	2002-01-21 00:00:00	juancar	malkorta
1	13	C18	C20	C22	C24	C37	C38	C27	012	012	None	None	None	None	None	None	None	None	VARILLAS	VARILLAS	None	None	None	None	None	None	None	None	HUSILLO	TUERCA	None	2003-10-23 00:00:00	2003-10-23 00:00:00	malkorta	malkorta
*/


CREATE TABLE [TC_CORTE_ARTI] (
	[CODEMP] VARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CODIGO] VARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DIAMETRO] FLOAT(53) NULL,
	[CALIDAD] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT1] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT2] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT3] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CARACT4] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CODPROV] VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OPERAC] VARCHAR(6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DIFDIAM] SMALLINT NULL,
	[DIFPIEZ] SMALLINT NULL,
	[FECHAC] DATETIME NULL,
	[FECHAM] DATETIME NULL,
	[USUCRE] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[USUMOD] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	upsize_ts TIMESTAMP NULL,
	[STWF] INTEGER NULL DEFAULT ((0)),
	CONSTRAINT [PK_TC_CORTE_ARTI] PRIMARY KEY ([CODEMP], [CODIGO])
)

/*
2 rows from TC_CORTE_ARTI table:
CODEMP	CODIGO	DIAMETRO	CALIDAD	CARACT1	CARACT2	CARACT3	CARACT4	CODPROV	OPERAC	DIFDIAM	DIFPIEZ	FECHAC	FECHAM	USUCRE	USUMOD	upsize_ts	STWF
1	C-M4003	12.0	STD	None	None	None	None	None	None	None	None	None	2018-05-25 00:00:00	None	asasiain	b'\x00\x00\x00\x00\x145\xa9\xbb'	0
1	C-M4004	50.0	STD	None	None	None	None	None	None	None	None	None	2018-05-25 00:00:00	None	asasiain	b'\x00\x00\x00\x00\x145\xa9\xbc'	0
*/


CREATE TABLE [TC_CORTE_BARRA] (
	[CODEMP] VARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NPLAN] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CODIGO] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LOTE] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NROBARRA] INTEGER NOT NULL,
	[LON] FLOAT(53) NULL,
	[CONSUMO] FLOAT(53) NULL,
	[FLAG] INTEGER NULL DEFAULT ((0)),
	[FECHAC] DATETIME NULL,
	[FECHAM] DATETIME NULL,
	[USUCRE] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[USUMOD] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DIVISION] VARCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	upsize_ts TIMESTAMP NULL,
	[BLOQUEO] VARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL DEFAULT ('N'),
	[DOCUPATH] VARCHAR(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STWF] INTEGER NULL DEFAULT ((0)),
	CONSTRAINT [PK_TC_CORTE_BARRA] PRIMARY KEY ([CODEMP], [NPLAN], [CODIGO], [LOTE], [NROBARRA])
)

/*
2 rows from TC_CORTE_BARRA table:
CODEMP	NPLAN	CODIGO	LOTE	NROBARRA	LON	CONSUMO	FLAG	FECHAC	FECHAM	USUCRE	USUMOD	DIVISION	upsize_ts	BLOQUEO	DOCUPATH	STWF
1	20180321-01	C-M4008	428288/6140-42	1	6140.0	6026.0	1	2018-03-21 16:16:02	None	asasiain	None	None	b'\x00\x00\x00\x00\x14\x08(\x98'	N	None	0
1	20180321-01	C-M4008	428288/6140-42	2	6140.0	5766.0	1	2018-03-21 16:16:02	None	asasiain	None	None	b'\x00\x00\x00\x00\x14\x08(\x99'	N	None	0
*/


CREATE TABLE [TC_CORTE_BARRA_HUSILLO] (
	[CODEMP] VARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NPLAN] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CODIGO] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LOTE] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NROBARRA] INTEGER NOT NULL,
	[ORDFAB] INTEGER NOT NULL,
	[NROHUSILLO] INTEGER NOT NULL,
	[LON] FLOAT(53) NULL,
	[FEC] DATETIME NULL,
	[ORDEN] INTEGER NULL,
	[LON_H] FLOAT(53) NULL,
	[FECHAC] DATETIME NULL,
	[FECHAM] DATETIME NULL,
	[USUCRE] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,

In [236]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain.agents import AgentType

In [237]:
#agent_executor = create_sql_agent(llm, db = db, agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION, verbose = True,stream_runnable=False,handle_parsing_errors=True)
#agent_executor = create_sql_agent(llm, db=db, agent_type="tool-calling", verbose=True, stream_runnable=False)
#agent_executor = create_sql_agent(llm, db = db, agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION, verbose = True,handle_parsing_errors=True)
agent_executor = create_sql_agent(llm, db = db, agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION, verbose = True)
#agent_executor = create_sql_agent(llm, db = db, agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION, verbose = True, stream_runnable=True ,handle_parsing_errors=True)

In [238]:
#agent_executor.invoke("How many different Artists are in the database?")
#print(agent_executor.agent.runnable.get_prompts()[0].messages[0].content)
#agent_executor.invoke(q,handle_parsing_errors=True,include_run_info=True)
agent_executor.invoke(q)
#agent_executor.invoke("How many Artists are in the database?")

> Entering new SQL Agent Executor chain...
I'm ready to help.

Thought: To find out how many invoices there are, I need to query the database. First, I'll check if the table exists using sql_db_list_tables.

Action: sql_db_list_tables
Action Input: (empty stringTC_ARTCAR, TC_ART_CAR, TC_AVISOVTO_LOG, TC_BARRAS_CFG, TC_BONOS_OT, TC_CFG_ARTCAR, TC_CONFIG, TC_CONTROL_CFG, TC_CORTE_ARTI, TC_CORTE_BARRA, TC_CORTE_BARRA_HUSILLO, TC_CORTE_HUSILLO, TC_CORTE_OFS, TC_CORTE_PLAN, TC_CORTE_STK, TC_EMBALAJE_CFG, TC_FAMILIAS_CFG, TC_K_BANCO_KORTA_CLI, TC_K_CAMB_CARAC_ART, TC_K_CODARANCELARIO, TC_MB_ALBARANES, TC_MB_ART_CAR, TC_OF_CARC, TC_OF_CARL, TC_PED_OF_CFG, TC_SOL_OFERTA, TC_SP_PLANOS, TC_SP_PLANOS_LOG, TC_SP_PLANOS_NOM, TC_VENCIMIENTOS_AVISO, TF_ACCESOS, TF_ACCIONES_VTOS, TF_ACC_AREAS, TF_APUNTES, TF_AREA, TF_ARQUEO, TF_ASIENTOS_NOTAS, TF_ASPATRON, TF_ASPATRON_INMOV, TF_ASPATRON_INMOVL, TF_ASPATRON_TESO, TF_ASPATRON_TESO_L, TF_AUX_ENTIDADES_BAN, TF_AUX_SUCUR_BAN, TF_BALANCES, TF_BANDEJA_CC_CAB, TF_BANDEJA_CC_LIN, TF_BANDEJA_LIQ_LIN, TF_BANDEJA_VEN_CAB, TF_BANDEJA_VEN_LIN, TF_CAJA, TF_CALCULOC, TF_CALCULOL, TF_CCOSTE_ITFC, TF_CCOSTE_ITFL, TF_CENTROS_COSTE, TF_CLI_EST_EXPED, TF_COMP_SEGUROS, TF_CONCEP_CONTA, TF_CONSOLIDACIONES, TF_CONSOLIDACIONESL, TF_CONTADOR, TF_CUENTAS_GRUPOS, TF_CUENTAS_GRUPOSL, TF_C_BANCARIAS, TF_DEFECTOS, TF_DIARIO, TF_DIRECTOR_TESO, TF_EJERCICIO, TF_EMPRESA, TF_EMPRESAL, TF_ENTIDADES_BAN, TF_ESTIMACIONES, TF_ESTRUPLAN, TF_EST_RIESGO, TF_FICFCCA, TF_FICFCIV, TF_FICFHIS, TF_FICFLCA, TF_FICFLIV, TF_FORMULAS, TF_FPAGO, TF_GASTOS_BANCARIOS, TF_GESTORES, TF_GRIESGO, TF_GRUPOS_AREAS, TF_GRUPOS_BAN, TF_GRUPOS_CCOSTE, TF_GRUPO_USU, TF_IVA_CRIT_CA, TF_I_COEF, TF_I_COEF_ACT, TF_I_COEF_ACTL, TF_I_FICHAS, TF_I_FICHASL, TF_I_REDONDEO, TF_I_SISTEMAS, TF_I_SISTEMASL, TF_I_VECES_CALC, TF_LANZA_CONTA, TF_MOVICAJA, TF_MOVIPROG, TF_MOVI_CCOSTE, TF_NATURAL, TF_OPERAC, TF_ORIGEN, TF_PARAMETRIZ, TF_PATRON_CCOSTE, TF_PLAN, TF_PLANTI_BANCOS, TF_PRESUPUESTOS, TF_PRESUPUESTOSL, TF_REMESAS, TF_REPARTOS, TF_REPARTOS_CCOSTE, TF_REPARTOS_ORIGEN, TF_SII_LOG, TF_SII_LOGL, TF_SITUACIONES, TF_SUCUR_BAN, TF_TEXTOS, TF_TIMBRES, TF_TIPOS_REMESAS, TF_USUARIOS, TF_USUARIOSL, TF_VENCIMIENTOS, TF_VENCIMIENTOS_CONTA, TF_VENCIMIENTOS_GASBAN, TF_VENCIMIENTOS_MOV, TF_VENCIMIENTOS_NOTAS, TF_VTOS_CLASES, TK_APUNTESC, TK_APUNTESL, TK_BALANCES, TK_BALANCES_PARAM, TK_EMP_AREAS, TK_GRUPOS, TK_GRUPOSL, TK_GRUPOS_TRAMOS, TK_HECHOS, TK_JOBS, TK_MASAS, TK_MASASL, TK_MEDIDAS, TK_MOV_SIMULACIONES, TK_PLAN, TK_REPORTS, TK_REPORTS_COLUMN, TK_SIMULACIONES, TK_X_excel, TS_CULTURE, TS_ENTIDAD, TS_Ficheros, TS_GRUPOS, TS_GRUPOSL, TS_GRUPO_USU, TS_MENUCONFIG, TS_NAVEGA_FORM, TS_NAVEGA_FORML, TS_PANTALLAS, TS_RESIZE, TS_RESIZEL, TS_USUARIOS, TS_USUARIOSL, TS_USU_MAPEO, TT_AVISOS, TT_BASESDIV, TT_CIAS_SEGUROS, TT_CLIENTES, TT_CLIENTES_DIR, TT_CLIENTES_DIR_PF, TT_CLIENTES_VAR, TT_CMR, TT_COMPLEMENTOS_FAC, TT_CONCEP_GASTO, TT_CONCEP_GASTO_HIS, TT_CONDI_INCOTERM, TT_CONDUCTORES_HIS, TT_CONDUCTORES_MUL, TT_CONDUCTORES_TRJ, TT_CONTROL_PLAN, TT_CONVENIOS, TT_CORRESPONSALES, TT_FACTURASV, TT_FACTURASV_L, TT_FORMAS_RECEP, TT_GEN_CTAS_CORR, TT_GEN_INCIDENCIAS, TT_GEN_PERSONAS, TT_GPS_APLICA, TT_GPS_CONFIG_IE, TT_GPS_CONFIG_IE_L, TT_GPS_MSJ, TT_GPS_MSJ_L, TT_GPS_VALDEF, TT_GPS_VALDEFL, TT_GRUPOS_PAIS, TT_GRUPOS_ZONAS, TT_GRUP_ESCAN, TT_GRUP_PLAN, TT_GR_GES_DOCS, TT_GR_MAQUINAS, TT_GR_OBRAS, TT_GR_PERMISOS, TT_GR_PERMISOS_MOV, TT_GR_SERVICIOS, TT_GR_SERVICIOSL, TT_GR_TIPOS_DOCS, TT_GR_TIPOS_PERMISOS, TT_HRUTA, TT_HRUTA_L, TT_IDIOMAS, TT_INCIDENCIAS, TT_INCOM_ADR, TT_MANTENIMIENTOS, TT_MEDIOS, TT_MEDIOS_VAR, TT_MERCANCIAS, TT_MERCANCIAS_SIN, TT_NOMINAS_VAR, TT_OFERTAS, TT_OFERTASL, TT_OPERARIOS, TT_OPERARIOS_DOM, TT_OPERARIOS_VAC, TT_OTROS_MEDIOS_CAM, TT_PAISES, TT_PARTESCAJA, TT_PARTESCAJAL, TT_PLATAFORMAS, TT_PLATAFORMAS_ADR_ITV, TT_PLATAFORMAS_ADR_SEG, TT_PLATAFORMAS_ALQ, TT_PLATAFORMAS_ANA, TT_PLATAFORMAS_CAM, TT_PLATAFORMAS_ECO, TT_PLATAFORMAS_IMU, TT_PLATAFORMAS_ITV, TT_PLATAFORMAS_MAN, TT_PLATAFORMAS_SEG, TT_PLATAFORMAS_SIN, TT_PLATAFORMAS_VAR, TT_PROVINCIAS, TT_PUNTOS, TT_PUNTOS_VAC, TT_RECORRIDOS, TT_RENTA_CONFIG, TT_RENTA_CONFIG_L, TT_RENTA_COSTES_FIJOS, TT_RENTA_COSTES_FIJOS_VAL, TT_RENTA_GRUP_REP, TT_RENTA_GRUP_VAR, TT_RENTA_REP_CTAS, TT_RENTA_TRACPLAT, TT_RENTA_VARIABLES, TT_RENTA_VIAJES, TT_SECT_INDUSTRIAL, TT_SISTEM_TRANS, TT_SUBCONT_FAC, TT_TARIFAS, TT_TARIFAS_CD, TT_TARIFAS_COM, TT_TARIFAS_CONDU_C, TT_TARIFAS_CONDU_L, TT_TARIFAS_HIS, TT_TARIFAS_OTM, TT_TARIFAS_OTM_HIS, TT_TARJETAS, TT_TEXTOS, TT_TIPOSADR, TT_TIPOS_CONDU, TT_TIPOS_INCIDENCIAS, TT_TIPOS_OPERARIOS, TT_TIPOS_PLATAFORMAS, TT_TIPOS_SUSPEN, TT_TIPOS_TARIF, TT_TIPOS_TRACTORES, TT_TIPOS_TRJ_TRANS, TT_TMBONOS, TT_TMBONOSL, TT_TMCOSTES, TT_TMCTRLFEC, TT_TMGREPAR, TT_TMPTALLER, TT_TMTREPAR, TT_TMVALES, TT_TMVALESL, TT_TM_BONOS, TT_TM_BONOSL, TT_TM_GAMAS, TT_TM_GRUP_AVERIAS, TT_TM_GRUP_LIST, TT_TM_GRUP_MTOS_PER, TT_TM_GRUP_OPERAC, TT_TM_GRUP_REPARACION, TT_TM_HIS_PREC, TT_TM_MAN_PER, TT_TM_OPERAC, TT_TM_PARTES_AV, TT_TM_TIPOS_REP, TT_TM_VALES, TT_TM_VALESL, TT_TRACTORES, TT_TRACTORES_ADR_ITV, TT_TRACTORES_ADR_SEG, TT_TRACTORES_ALQ, TT_TRACTORES_CAM, TT_TRACTORES_ECO, TT_TRACTORES_IMU, TT_TRACTORES_ITV, TT_TRACTORES_MAN, TT_TRACTORES_SEG, TT_TRACTORES_SIN, TT_TRACTORES_TAC, TT_TRACTORES_TRJ, TT_TRACTORES_VAR, TT_TRACTORES_VEL, TT_TRAMOS, TT_TRAMOS_COS, TT_TRANSITO, TT_TRJ_FAMILIAS, TT_UNIDADES, TT_USU_BASES, TT_VALDEF, TT_VARIABLES_CLASES, TT_VARIABLES_TEC, TT_VENCIMIENTOS_GES, TT_VIAJES, TT_VIAJES_CD, TT_VIAJES_COM, TT_VIAJES_CPL, TT_VIAJES_TEC, TT_VIAJES_TRAMOS, TT_ZONAS, TT_ZONAS_TRF, TW_AVISOS, TW_CHARTS, TW_CHARTSL, TW_CMODULOS, TW_ESTILOS, TW_FAVORITOS, TW_FORMULASB, TW_FORMULASBL, TW_INDICADORES, TW_INDICADORESL, TW_LOG, TW_MODULOS, TW_NAV_CAB, TW_NAV_FUNCION, TW_NAV_FUNCION_C, TW_NAV_FUNCION_L, TW_NAV_FUNCION_R, TW_NAV_LINEAS, TW_NAV_URL, TW_NAV_URL_L, TW_NOMBRES, TW_NOTICIAS, TW_SESIONES, TW_URL, TW_USUPREF, TW_USUPREFL, T_ACCESOSLISTADOS, T_ACTIVIDADES, T_AGENDA, T_AGRUP, T_ALBARAN, T_ALBARANL, T_ALBARAN_ERRORES, T_ALMACEN, T_ALMACEN_ACCESOS, T_ALTERN, T_ARTCAR, T_ARTESCAN, T_ARTICULOS, T_ARTICULOSL, T_ARTICULOS_CALC, T_AVISOS, T_Accesos, T_BANCOS, T_CALENDC, T_CALENDD, T_CALENDF, T_CALEST, T_CALRUT, T_CANAL, T_CARACT, T_CARCAT, T_CARGAS, T_CATEGORIAS, T_CLAHORA, T_CLAMOV, T_CLAVES, T_CLIENTES, T_CLIENTES_DELINS, T_CODEST, T_CONDENTREGA, T_CONTADOR, T_CONTROLBON, T_COPIAS, T_CRITERIOS_CARGAS, T_CTERCEROS_BANCOS, T_CTERCEROS_CLIE, T_CTERCEROS_REPRES, T_CTERCEROS_TRANS, T_CTerceros_PROV, T_CUENTAS, T_DEFEST, T_DEFRUT, T_DELINS_CVS_CLIENTES, T_DELINS_INBOX, T_DELINS_ORDTERL_TMP, T_DELINS_ORDTER_TEMP, T_DELINS_TEMP, T_DELINS_UNIDAD, T_DESCUENTOS, T_DIVISAS, T_DIVISASL, T_DIVISION, T_DOCUM, T_DOCUMENTACION, T_DOCUMENTACIONL, T_DOCUMENTOS, T_DOCUML, T_DOCUML_2, T_EDI_ALBARANL, T_EDI_APP_LOG, T_EDI_ART_EMB, T_EDI_CFG, T_EDI_CLI, T_EDI_CLI_MSG, T_EDI_CLI_PTA, T_EDI_CONFIG, T_EDI_DAT_COMP, T_EDI_DAT_COMP_L, T_EDI_DAT_SIMP, T_EDI_DAT_SIMP_VAL, T_EDI_DELJIT, T_EDI_INBOX, T_EDI_MSG, T_EDI_MSG_DET, T_EDI_MSG_ERR, T_EDI_MSG_LOG, T_EDI_NORMA_EDIFACT, T_EDI_ORDTERL, T_EDI_SEG, T_EDI_SEG_GRP, T_EDI_SEG_GRP_ESTRUC, T_EDI_SEG_GRP_FORM, T_EDI_SEG_L, T_EDI_UNIDAD, T_EDR_ENLACE, T_EDR_TDATOS, T_EDR_TDATOS_ESTRUC, T_ELEMENTOS_CONTA, T_EMPRESA, T_EMPRESAL, T_EMPRESA_EVENTOS, T_ENCURSO, T_ENLACES, T_EQUIPOS, T_EQUIPOS_REC, T_ESCAN, T_ESTRUC, T_ESTRUCL, T_EXPEDICIONES, T_Esp_Import_Export, T_Esp_Import_ExportL, T_FACTURAS, T_FACTURASL, T_FACTURAS_IVAS, T_FAMILIAS, T_FCONTROL, T_FINANCIEROS, T_FOGVS, T_FORMATO, T_FORMULAS, T_FPAGO, T_FPAGO_old, T_GEN_INCIDENCIAS, T_GEN_INCIDENCIASL, T_GEN_PERSONAS, T_GEOGRAFICOS, T_GFHS, T_GIP_CONFIG, T_GIP_ENTORNO, T_GIP_GARANTIAS, T_GIP_GASTOS, T_GIP_GASTOSL, T_GIP_IMPORT_BONOS, T_GIP_INTERVALOS, T_GIP_PERSONAS, T_GIP_PRESUPUESTOS, T_GIP_PRESUPUESTOSL, T_GIP_PRESU_OPEL, T_GIP_PROCESO, T_GIP_PROCESO_ACT, T_GIP_PROCESO_PARTES, T_GIP_PROC_GASTOS, T_GIP_PRODUCTOS, T_GIP_PUESTO_OPE, T_GIP_TEMAS, T_GIP_TIPOTRAB, T_GRECURSOS, T_GRUPCARACT, T_GRUPHORA, T_GRUPOC, T_GRUPOP, T_GRUPOS_FAC, T_HDELINS, T_HDELINS_TEMP, T_HPRECIO, T_IMPUESTOS, T_IMPUTABLES, T_IMPUTABLESL, T_IMPUTACIONES, T_INCIDENCIAS, T_INTBON, T_INVENTC, T_INVENTD, T_LOGOS, T_MAQUINAS, T_MENU_DEF, T_MENU_GRUPO, T_MENU_GRUPOL, T_MOVIM, T_MOVIPROG, T_Mapeo_WSS, T_NAV_NODE_DEF, T_NAV_NODE_DOC, T_NAV_NODE_KEY, T_NAV_NODE_PARAM, T_NAV_NODE_REL, T_NAV_NODE_REL_L, T_NAV_VISTA, T_NAV_VISTA_L, T_OFERTAS, T_OFERTASL, T_OGVS, T_OPCIONES, T_OPCIONESL, T_OPERAC, T_OPERAC_IVA, T_OPERARIO, T_OPERARIOS_PRECIOS, T_ORDFAB, T_ORDFABM, T_ORDFABO, T_ORDFABO_SUBCONTRATA, T_ORDTER, T_ORDTERL, T_PAISES, T_PARAMETROS, T_PARCAB, T_PARDET, T_PAUTAS, T_PLANIFICA, T_PLANIFICAL, T_PLSTOCK, T_PORTES, T_PREPARACIONES_sc, T_PROBETAS, T_PROBETASL, T_PROB_CONF, T_PROV, T_PROVINCIAS, T_PROYECTOS, T_PROYECTOS_CLASES, T_PROYECTOS_P, T_PROYECTOS_SUBCLASES, T_PROYECTOS_T, T_PROYECTOS_TIPOS, T_PROYECTOS_T_PRED, T_PROYECTOS_T_REC, T_PROY_CARACT, T_PROY_CARACTERISTICAS, T_PROY_GIP_GASTOS, T_PROY_GIP_GASTOSL, T_PROY_GIP_IMPORT_BONOS, T_PROY_GIP_INTERVALOS, T_PROY_GIP_PERSONAS, T_PROY_GIP_PROCESO, T_PROY_GIP_PROCESO_ACT, T_PROY_GIP_PROCESO_PARTES, T_PROY_GIP_PROC_GASTOS, T_PROY_GIP_TEMAS, T_PROY_PARCAB, T_PROY_PARDET, T_PROY_SEGUIMIENTO, T_PROY_SEGUIMIENTOL, T_PROY_VALCAR, T_PUESTOS, T_RCARACT, T_RECURSOS, T_RENDIMC, T_RENDIMP, T_REPRES, T_RESPRO, T_RETENCION, T_RPUESTOS, T_RS_IDIOMAS, T_RS_PARAMETERS, T_RUTAS, T_RUTAS_CABECERA, T_SECCION, T_SIDCLAVESPER, T_SIDCLAVESPERL, T_SIDCONCEN, T_SIDCONCENL, T_SIDFOGVS, T_SIDGCONCEN, T_SIDGPCAB, T_SIDGPINTERCON, T_SIDGPINTERUOS, T_SIDGPLIN, T_SIDGPREPCONC, T_SIDGPREPCONL, T_SIDNIVELES, T_SIDOGVS, T_SIDPERIODOS, T_SIDPLVENTAS, T_SIDPLVENTASL, T_SIDPVENTAS, T_SIDPVENTASDESC, T_SIDPVENTASOGVSC, T_SIDPVENTASOGVSL, T_SIDPVENTASPER, T_SIDREPARTOS, T_SOLCOMPRA, T_SOLCOMPRA_EJEC, T_SOLCOMPRA_PREV, T_SOLVIAJE, T_SOLVIAJE_EJEC, T_SOLVIAJE_PREV, T_STOCKS, T_SUBCANAL, T_SUBFORMS, T_Sitios, T_TABCONT, T_TABLAS, T_TABLASVERSION, T_TABLAS_CONFIG, T_TABLAS_REL, T_TAREAS, T_TARIFASH_CLI, T_TARIFASH_PROV, T_TARIFASLH_CLI, T_TARIFASLH_PROV, T_TARIFASL_CLI, T_TARIFASL_CLI_DTO, T_TARIFASL_PROV, T_TARIFAS_CLI, T_TARIFAS_CLI_DTO, T_TARIFAS_CLI_DTO_CFG, T_TARIFAS_PROV, T_TBAI_FACTURAS, T_TBAI_LOG, T_TBAI_LOGL, T_TDOCUMENTACION, T_TERCERO_PESOS, T_TIPOS_INCIDENCIAS, T_TIPOS_TARIFAS, T_TMP_FACT, T_TPARTE, T_TRADUCCION, T_TRANSP, T_TipoDatos, T_UNIDAD, T_UNIDADL, T_VALCAR, T_VENCIMIENTOS_GES, T_WF_ACCIONES, T_WF_APROBACIONES, T_WF_APROBACIONES_L, T_WF_DOCUMENTOS, T_WF_DOCUMENTOS_FASES, T_WF_DOCUMENTOS_TIPOS, T_WF_ESTADOS, T_WF_FASES, T_WF_FASESWF, T_WF_WORKFLOW, ZZZZ, dtproperties

ValueError: An output parsing error occurred. In order to pass this error back to the agent and have it try again, pass `handle_parsing_errors=True` to the AgentExecutor. This is the error: Could not parse LLM output: `I'm ready to help! Please go ahead and ask your questions. I'll do my best to answer them using the tools you've provided (the various tables).`